a{
    color: blue;
    text-decoration: none;
    opacity: 0.7
}

a:hover{
    opacity: 1;
}


.one{
    width: 900px;
    height: 80px;
    padding-left: 325px;
    text-align: left
}

.two{
    width: 900px;
    height: 20px;
    padding-left: 325px;
    text-align: left
}

.three{
    width: 700px;
    height: 350px;
    padding-left: 325px;
}

.four{
    width: 900px;
    height: 265px;
    padding-left: 325px;
    text-align: left
}

.five{
    width: 900px;
    height: 230px;
    padding-left: 325px;
    text-align: left;
}

.six{
    width: 900px;
    height: 30px;
    padding-left: 325px;
    text-align: left;
}

.seven{
    width: 900px;
    height: 230px;
    padding-left: 325px;
    text-align: left;
}

.eight{
    width: 900px;
    height: 65px;
    padding-left: 325px;
    text-align: left;
}

.nine{
    width: 900px;
    height: 500px;
    padding-left: 325px;
    text-align: left;
}

.ten{
    width: 900px;
    height: 65px;
    padding-left: 325px;
    text-align: left;
}

.eleven{
    width: 900px;
    height: 100px;
    padding-left: 325px;
    text-align: left;
}

.twelve{
    width: 900px;
    height: 23px;
    padding-left: 325px;
    text-align: left;
}

.thirteen{
    width: 900px;
    height: 475px;
    padding-left: 325px;
    text-align: left;
}

.fourteen{
    width: 900px;
    height: 15px;
    padding-left: 325px;
    text-align: left;
}

.fifteen{
    width: 900px;
    height: 175px;
    padding-left: 325px;
    text-align: left;
}

.sixteen{
    width: 900px;
    height: 15px;
    padding-left: 322px;
    text-align: left;
}

.seventeen{
    width: 900px;
    height: 210px;
    padding-left: 322px;
    text-align: left;
}

.eighteen{
    width: 900px;
    height: 20px;
    padding-left: 322px;
    text-align: left;
}

.nineteen{
    width: 900px;
    height: 295px;
    padding-left: 323px;
    text-align: left;
}

.twenty{
    width: 900px;
    height: 25px;
    padding-left: 321px;
    text-align: left;
}

.twenty_one{
    width: 900px;
    height: 265px;
    padding-left: 322px;
    text-align: left;
}

.twenty_two{
    width: 900px;
    height: 25px;
    padding-left: 322px;
    text-align: left;
}

.twenty_three{
    width: 900px;
    height: 95px;
    padding-left: 325px;
    text-align: left;
}